#
# Backup Files
#
*~
#
# Individual Files
#
personal-info.el
history
places
recentf
#
# Directories
#
elpa/
.cache/
eshell/
server/
transient/
org-persist/
logs/
#
# Local session files
tramp
projects


elpy/

site-lisp/jira-jump/

url/cookies

bookmarks

.org-id-locations

site-lisp/pdf-tools-20180428.827/

srecode-map.el

tabsession.el
